/[Ll]ibrary/
/Logs/
/Temp/
/.vs/Nebula_Disorientation/v17/.suo
/Logs/shadercompiler-UnityShaderCompiler.exe0.log
/Logs/shadercompiler-UnityShaderCompiler.exe1.log
/Logs/shadercompiler-UnityShaderCompiler.exe2.log
